.coluna {
    float: left;
    width: 31%;
    padding: 15px;
  }
  
  .linha::after {
    content: "";
    display: block;
    clear: both;
  }
  .col-1 {
    float: left;
          border: 1px solid black;
        padding: 15px;
        width: 8.33%;
        box-sizing: border-box;
    }  
    .col-2 {
        float: left;
              border: 1px solid black;
            padding: 15px;
            width: 16%;
            box-sizing: border-box;
    }
    .col-3 {
        float: left;
          border: 1px solid black;
        padding: 15px;
        width: 25%;
        box-sizing: border-box;
    }
    