body {
    font-family: "Courier new";
  }
  .status{
      font-size: 140%;
      font-weight: bold;
  }
  .error{
      color: red;
  }
  .warning {
      color: #CCCC00;
  }
  .success {
      color: darkGreen;
  }
  .italico {
	font-style: italic;
}
p.dotted {border-style: dotted;}
p.dashed {border-style: dashed;}
p.solid {border-style: solid;}
p.double {border-style: double;}
p.groove {border-style: groove;}
p.ridge {border-style: ridge;}
p.inset {border-style: inset;}
p.outset {border-style: outset;}
p.none {border-style: none;}
p.hidden {border-style: hidden;}
p.mix {
border-style: dotted dashed solid double;}